.news-header{
  background-color: #f4f5f7;
  background-image: url('../assets/illustrations/bg-news.png');
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: right -100px top 0px;
}