.work-header{
  background-color: #f4f5f7;
  background-image: url('../assets/illustrations/bg-work.png');
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: right -30px top 0px;

}
.work-list{
  position: relative;
}